body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #141517;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Mantine overwrites*/
.mantine-Modal-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
  margin: 0;
  color: #C1C2C5;
}

/*Full calendar overwrites*/
.fc-event-time {
  display: none;
}

.fc-daygrid-event-harness {
  cursor: pointer;
}

