html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/*Mantine overwrites*/
.mantine-Modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .bg::before {
    margin-left: 50%;
    content: "X";
  }

  * {
      color: black !important;
      font-size: 11px !important;
  }
}